.right {
  text-align: right;
}

.left {
  text-align: left;
}

.wrapper {
  position: relative;
  height: 100%;
  display: block;
}

.classroom {
  position: absolute;
}

.container {
  height: 75vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors {
  display: inline-block;
}

.hidden {
  display: none;
}

.chatroom {
  background-color: rgba(48, 48, 48, 0.9);
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
}

.msgContainer {
  height: 85%;
  overflow-y: scroll;
  padding: 0px;
}

.button {
  font-size: 20px;
  font-weight: 200;
  line-height: 2;
  color: white;
  background: #0289b1;
  border-radius: 25px;
  padding: 0 20px 0 20px;
  border: none;
}

.input {
  font-size: 20px;
  color: white;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 10px;
}

.announcement {
  font-size: 13px;
  background: #0289b191;
  border-radius: 5px;
  padding: 0 13px 0 15px;
  color: white;
  margin-bottom: 20px;
}

.announcWrapper {
  padding: 15px 0;
}

.msgContainer hr {
  border: 1px solid rgba(255, 255, 255, 0.219);
}
