.right {
  text-align: right;
}

.container {
  height: 75vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  display: inline-block;
}

.hidden {
  display: none;
}

.chatroom {
  background-color: rgba(48, 48, 48, 0.9);

  position: absolute;
  width: 100%;
  height: 100%;
}
