.wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
}

.login {
  width: 100%;
  /* display: table-cell;
  vertical-align: middle; */
}

.loginText {
  font-size: 30px;
  font-weight: 250;
}

.input {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(12, 12, 12);
  display: block;
  width: 70%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 30px;
  margin: 20px auto;
  border: none;
}

.loginBtn {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  color: white;
  display: block;
  width: 85%;
  background: #0289b1;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 30px;
  margin: 20px auto;
  border: none;
}

.loginBtn:hover {
  background: #0ca2d0;
  transition: 0.4s;
  cursor: pointer;
}

.errorMsg {
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  border: solid 1px white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.178);
}

.input-error {
  color: tomato;
}

.disabled {
  background: #5eafc7;
}
