.container {
  display: flex;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 26px;
  margin: 0;
}

.input {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 40px 0 50px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
}

.errorMsg {
  margin-top: 20px;
  color: tomato;
}
