* {
  font-family: "IBM Plex Sans KR", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* CSS for window width greater than or equal to 768px (mobile devices) */
@media (min-width: 768px) {
  body {
    width: 768px; /* Fixed width of 500px */
  }
}

/* CSS for window width smaller than 768px (smaller devices) */
@media (max-width: 767px) {
  body {
    width: 100vw; /* 100% of viewport width */
  }
}

body {
  text-align: center;
  background: rgb(48, 48, 48);
  color: white;
  margin: auto;
}

div {
  text-align: center;
}

#root {
  margin: auto;
}

.rooms {
  text-align: left;
}

#root {
  padding: 35px 20px;
}
